div.wrapper
  - const firstName = name.toUpperCase()
  p My name is #{firstName}
  p.hello Hello! My dog's name is #{dog.toUpperCase()}
  span#yo Yo!!
  img.dog(src='dog.jpg' alt=`Dog ${dog}`)

h2 Hello
  em How are you?
